
<head>
  <title>Reddit Back When</title>
  <meta name="description" content="A Time Machine for Reddit - go back to any date for any sub you wish">
</head>
<style>
.aligngo {
  margin-top:27px;
}
ul {
  padding-left:0;
}
</style>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.rawgit.com/JustGoscha/allmighty-autocomplete/master/style/autocomplete.css" rel="stylesheet">
<div ng-app="myApp" ng-controller="myCtrl" ng-cloak>

<div class="jumbotron">
<div class="container">
  <h1>Reddit Back When</h1>
  <p>A time machine for Reddit</p>
  <div class="row">
  <span class="col-xs-9">
  <label class="control-label">Subreddit</label>
  <autocomplete ng-model="sub" data="mostPop"></autocomplete>
  </span>
  <span class="col-xs-3"><a class="col-xs-offset-1" target=_blank href="{{url()}}">
    <button class="btn btn-success aligngo">Go!</button></a>
  </span>
  </div>
  <br>
  {{dtToTimeStamp()}}
  <datepicker ng-model="dt" show-weeks="true"></datepicker>
  <br>

</div>
</div>

</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
<script src="https://cdn.rawgit.com/JustGoscha/allmighty-autocomplete/master/script/autocomplete.js"></script>
<script>
var app = angular.module('myApp', ['ui.bootstrap','autocomplete']);
app.controller('myCtrl', ['$scope', function($scope) {
  $scope.url = function() {
    return 'http://www.reddit.com/r/' + $scope.sub + '/search?sort=top&q=timestamp%3A' +
    dtToTimeStamp()+'..'+(dtToTimeStamp()+60*60*24)+'&restrict_sr=on&syntax=cloudsearch'

  }
  dtToTimeStamp = function() {
    if ($scope.dt === undefined || $scope.dt === null)
      return Math.floor(Date.now()/1000)
    return Math.floor(Date.parse($scope.dt).getTime()/1000)
  }

  $scope.mostPop =
  ['funny',
  'pics',
  'AdviceAnimals',
  'BlackPeopleTwitter',
  'todayilearned',
  'aww',
  'WTF',
  'gifs',
  'gaming',
  'AskReddit',
  'videos',
  'fatpeoplehate',
  'leagueoflegends',
  'thebutton',
  'worldnews',
  'pcmasterrace',
  'me_irl',
  'news',
  'Showerthoughts',
  '4chan',
  'TrollXChromosomes',
  'mildlyinteresting',
  'trees',
  'GlobalOffensive',
  'soccer',
  'politics',
  'gameofthrones',
  'movies',
  'nba',
  'hockey',
  'reactiongifs',
  'DotA2',
  'TumblrInAction',
  'interestingasfuck',
  'atheism',
  'technology',
  'tifu',
  'pokemon',
  'science',
  'Jokes',
  'woahdude',
  'Celebs',
  'SquaredCircle',
  'cats',
  'gentlemanboners',
  'hearthstone',
  'food',
  'Unexpected',
  'IAmA',
  'explainlikeimfive',
  'OldSchoolCool',
  'creepy',
  'polandball',
  'tumblr',
  'nfl',
  'GrandTheftAutoV_PC',
  'Games',
  'Music',
  'hiphopheads',
  'smashbros',
  'roosterteeth',
  'Android',
  'cringepics',
  'nottheonion',
  'space',
  'EarthPorn',
  'DestinyTheGame',
  'conspiracy',
  'KotakuInAction',
  'Tinder',
  'oddlysatisfying',
  'reddevils',
  'relationships',
  'television',
  'shittyreactiongifs',
  'GrandTheftAutoV',
  'bestof',
  'bindingofisaac',
  'LifeProTips',
  'facepalm',
  'anime',
  'GetMotivated',
  'DIY',
  'baseball',
  'MakeupAddiction',
  'trashy',
  'HistoryPorn',
  'formula1',
  'CitiesSkylines',
  'comics',
  'skyrim',
  'mylittlepony',
  'asoiaf',
  '2007scape',
  'Minecraft',
  'progresspics',
  'photoshopbattles',
  'india',
  'FoodPorn',
  'sweden',
  'askscience',
  'AnimalsBeingJerks',
  'tf2',
  'JusticePorn',
  'Marvel',
  'motorcycles',
  'magicTCG',
  'WritingPrompts',
  'youtubehaiku',
  'mildlyinfuriating',
  'teenagers',
  'CrappyDesign',
  'StarWars',
  'thatHappened',
  'amiibo',
  'iamverysmart',
  'PS4',
  'childfree',
  'sports',
  'youdontsurf',
  'standupshots',
  'tattoos',
  'MMA',
  'Fallout',
  'dataisbeautiful',
  'funny',
  'AskReddit',
  'pics',
  'todayilearned',
  'worldnews',
  'science',
  'IAmA',
  'videos',
  'gaming',
  'movies',
  'Music',
  'aww',
  'news',
  'gifs',
  'technology',
  'askscience',
  'explainlikeimfive',
  'bestof',
  'EarthPorn',
  'WTF',
  'books',
  'television',
  'AdviceAnimals',
  'LifeProTips',
  'sports',
  'mildlyinteresting',
  'DIY',
  'politics',
  'Fitness',
  'Showerthoughts',
  'space',
  'Jokes',
  'tifu',
  'food',
  'photoshopbattles',
  'InternetIsBeautiful',
  'GetMotivated',
  'history',
  'nottheonion',
  'gadgets',
  'dataisbeautiful',
  'Futurology',
  'Documentaries',
  'listentothis',
  'personalfinance',
  'philosophy',
  'nosleep',
  'Art',
  'creepy',
  'OldSchoolCool',
  'UpliftingNews',
  'WritingPrompts',
  'TwoXChromosomes',
  'atheism',
  'woahdude',
  'trees',
  'leagueoflegends',
  '4chan',
  'programming',
  'Games',
  'fffffffuuuuuuuuuuuu',
  'sex',
  'Android',
  'reactiongifs',
  'cringepics',
  'gameofthrones',
  'malefashionadvice',
  'Frugal',
  'YouShouldKnow',
  'Minecraft',
  'pokemon',
  'HistoryPorn',
  'interestingasfuck',
  'comics',
  'lifehacks',
  'AskHistorians',
  'tattoos',
  'nfl',
  'JusticePorn',
  'FoodPorn',
  'Unexpected',
  'pcmasterrace',
  'facepalm',
  'wheredidthesodago',
  'wallpapers',
  'soccer',
  'TrueReddit',
  'cringe',
  'gentlemanboners',
  'freebies',
  'BlackPeopleTwitter',
  'offbeat',
  'europe',
  'humor',
  'GameDeals',
  'relationships',
  'conspiracy',
  'Cooking',
  'oddlysatisfying',
  'skyrim',
  'geek',
  'buildapc',
  'hiphopheads',
  'loseit',
  'spaceporn',
  'anime',
  'AbandonedPorn',
  'nba',
  'cats',
  'firstworldanarchists',
  'apple',
  'RoomPorn',
  'FiftyFifty',
  'NetflixBestOf',
  'StarWars',
  'talesfromtechsupport',
  'QuotesPorn',
  'DoesAnybodyElse',
  'circlejerk',
  'shittyaskscience',
  'MakeupAddiction',
  'doctorwho',
  'photography',
  'baconreader',
  'shutupandtakemymoney',
  'piratesofthrones',
  'AnimalsBeingPolite',
  'amibeingdetained',
  'failedhighfives',
  'brownman',
  'BeAmazed',
  'GrandTheftAutoV_PC',
  'GTA_Vinewood',
  'Marvel_Daredevil',
  'TrollUniversity',
  'TorInAction',
  'ButtonNews',
  'CompetitiveMinecraft',
  'soccerbanners',
  'Battlecars',
  'HestiaTheWaifuGoddess',
  'FairShareLoans',
  'BlackPigeonTwitter',
  'HaloOnline',
  'transadorable',
  'Daredevil',
  'AppleWatch',
  'Defenders',
  'liquidlegends',
  'GTAStunts',
  'TeamItUp',
  'reallifedoodles',
  'GalaxyS6',
  'TheBluetherhood',
  'pepe',
  'PokemonRumbleWorld',
  'sunguardians',
  'AcademicBiblical',
  'PurpleLounge',
  'Cloud9',
  'Emerald_Council',
  'mkxmobile',
  'JusticeServed',
  'destructionist',
  'civcrafter',
  'Ellenpaoinaction',
  'letsmeet',
  'texasents',
  'MegaCon',
  'Silvercasting',
  'TheRedguard',
  'CHICubs',
  'SiliconValleyHBO',
  'MortalKombat',
  'woof_irl',
  'DogShowerThoughts',
  'punchablefatsos',
  'CTPB',
  'FFRecordKeeper',
  'natureismetal',
  'MealPrepSunday',
  'GoldReplies',
  'HoldMyNip',
  'Birbs',
  'TorontoEscortReviews',
  'PlazaAragon',
  'Anywherethoughts',
  'ImaginaryMindscapes',
  'TrueOffMyChest',
  'mallninjashit',
  'thebutton',
  'DinosaurDrawings',
  'Planetball',
  'submechanophobia',
  'huntersbell',
  '3amjokes',
  'MineralPorn',
  'fastandfurious',
  'blackops3',
  'TheGreyHopeful',
  'theydidthemulletmath',
  'BollywoodRealism',
  'FollowersOfTheShade',
  'dankmemes',
  'team60s',
  'VictorianWorldPowers',
  'geekygirls',
  'storyofseasons',
  'TeamSolomid',
  '59s',
  'LastManonEarthTV',
  'japancirclejerk',
  'FNaFb',
  'neet4r',
  'UNBGBBIIVCHIDCTIICBG',
  'CivilizatonExperiment',
  'GuiltyPleasureMusic',
  'TrollXGirlGamers',
  'StarDrive',
  'coastlife',
  'SandersForPresident',
  'porterrobinson',
  'Justfuckmyshitup',
  'LivestreamFails',
  'gta5',
  'pitchforkemporium',
  'Xenoblade_Chronicles',
  'commanderprincess',
  'GTAV',
  'ChromaRequest',
  'AgainstTheChimpire',
  'shitladytrollx',
  'Prematurecelebration',
  'LiaMarieJohnson',
  'Ratatat',
  'OnePieceTC',
  'AskDocs',
  'StarWarsArmada',
  'whiteknighting',
  'whitepeoplefacebook',
  'C_S_T',
  'subnautica',
  'cosplaybutts',
  'SuddenlyGay',
  'OperationTrebuchet',
  'madeon',
  'h3h3productions',
  'loadingicon',
  'OopsDidntMeanTo',
  'HannahStocking']
}])

</script>
