<div ng-app="myApp" ng-controller="myCtrl">

subreddit: <input ng-model="sub">
<button ng-click="back()">back</button>
{{the_date()|date}}
<br>
<a target=_blank href="{{url()}}">{{url()}}</a>

</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
  $scope.sub = 'askscience'
  $scope.url = function() {
    return 'http://www.reddit.com/r/' + $scope.sub + '/search?sort=top&q=timestamp%3A' +
      $scope.date+'..'+($scope.date+60*60*24)+'&restrict_sr=on&syntax=cloudsearch'

  }
  $scope.date = Math.floor(Date.now() / 1000) - (60*60*24)
  $scope.back = function() {
    $scope.date -= (60*60*24)
  }
  $scope.the_date = function() {
    return $scope.date * 1000
  }
})
</script>
